{{> menu active="about"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            Kingdom Trails: Walking Trails Of Kerry </p>
        <p class="box">
            <i class="fas fa-cloud-sun fa-10x" style="color:lightskyblue"></i>
            <i class="fas fa-bicycle fa-10x" style="color:green"></i>
            <i class="fas fa-mountain fa-10x" style="color:grey"></i>
        </p>
    </div>
</section>
