<form action="/dashboard/addPlacemark" method="POST">
    <div class="field">
        <label class="label">Trail Type: </label> <input class="input" type="text" placeholder="Enter category" name="title">
    </div>
    <button class="button is-link">Add Category</button>
</form>
