<div class="title p-3 is-flex">
    <i style="font-size: 36px; color: gold;" class="fas fa-sun"></i>
    <i style="font-size: 48px; color: Dodgerblue;" class="fas fa-hiking"></i>
    <i style="font-size: 48px; color: green;" class="fas fa-tree"></i>
    <div class="ml-4">Kingdom Trails</div>
</div>
